<div class="flex flex-col min-h-screen">
    <header>
        <app-header></app-header>
    </header>
    <main class="flex-grow">
        <section class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4">
            <div class="bg-gray p-4 shadow rounded">Card 1</div>
            <div class="bg-white p-4 shadow rounded">Card 2</div>

            <div class="bg-white p-4 shadow rounded">Card 3</div>
            <div class="bg-white p-4 shadow rounded">Card 4</div>
        </section>
    </main>
    <footer class="justify-center">
        <app-footer></app-footer>
    </footer>
</div>
