<div class="m-5">

    <p class="text-xl text-gray-500 dark:text-gray-400 text-center">
        Selecciona el o los servicios que quieres al aplicar al coche
    </p>
    
    <div class="text-lg mt-5">
        <p class="text-xl text-gray-500 dark:text-gray-400 text-center">
        <span class="text-2xl text-gray-200">Coche seleccionado:</span> {{car?.brand}} {{car?.model}} {{car?.current_mileage}} Km
    </p>
    </div>

    @if (servicesSelected.length > 0) {
    <app-separator [message]="'Servicios seleccionados'"></app-separator>
    <button
        (click)="backSection()"
        class="middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        data-ripple-light="true">Volver atras</button>
    <button
        (click)="nextSection()"
        class="middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        data-ripple-light="true">Siguiente</button>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-5">
        @for (service of servicesSelected; track $index) {
        <div
            (click)="deselectService(service)"
            class="bg-white rounded-xl shadow-lg p-3 dark:bg-gray-800 cursor-pointer transition-all duration-300 transform hover:scale-[1.02] hover:shadow-2xl hover:border hover:border-blue-500">
            <h3 class="text-lg font-semibold text-blue-600 dark:text-blue-400">{{ service.service.name }}</h3>
            <p class="text-sm text-gray-600 dark:text-gray-300 mt-1">{{ service.service.description }}</p>
            <p class="text-sm text-gray-500">Precio: {{ service.service.price }}</p>
            <p class="text-sm text-gray-500">Duracion: {{ service.service.duration}}</p>
        </div>
        }
    </div>
    }

    <app-separator [message]="'Servicios disponibles'"></app-separator>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-5">
        @for (service of allServices; track $index) {
        <div (click)="getPartServiceSelect(service)"
            class="bg-white rounded-xl shadow-lg p-3 dark:bg-gray-800 cursor-pointer transition-all duration-300 transform hover:scale-[1.02] hover:shadow-2xl hover:border hover:border-blue-500">
            <h3 class="text-lg font-semibold text-blue-600 dark:text-blue-400">{{ service.name }}</h3>
            <p class="text-sm text-gray-600 dark:text-gray-300 mt-1">{{ service.description }}</p>
            <p class="text-sm text-gray-500">Precio: {{ service.price }}</p>
            <p class="text-sm text-gray-500">Duracion: {{ service.duration }}</p>
        </div>
        }
    </div>
</div>