@if (fields.length > 3) {
<form [formGroup]="formGroup" class="grid grid-cols-1 gap-6 mt-8 md:grid-cols-2">
    @for (field of fields; track field.key) {
    <div>
        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
            {{ field.label }}
        </label>

        <!-- Input dinámico -->
        @if (field.type === 'text' || field.type === 'email' || field.type === 'number' || field.type === 'password') {
        <input
            class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
            [type]="field.type" [formControlName]="field.key" [placeholder]="field.placeholder ?? field.label" />
        }

        <!-- Irian los demas tipos de campos -->

        <!-- Mensaje de error -->
        <!-- @if (getErrorMessage(field.key) as errorMsg) {
        <div class="error">{{ errorMsg }}</div>
      } -->
    </div>
    }


</form>

} @else {
<form [formGroup]="formGroup">
    @for (field of fields; track field.key) {
    <div class="mt-4">
        <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">
            {{ field.label }}
        </label>

        <!-- Input dinámico -->
        @if (field.type === 'text' || field.type === 'email' || field.type === 'number' || field.type === 'password') {
        <input
            class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
            [type]="field.type" [formControlName]="field.key" [placeholder]="field.placeholder ?? field.label" />
        }

        <!-- Irian los demas tipos de campos -->

        <!-- Mensaje de error -->
        <!-- @if (getErrorMessage(field.key) as errorMsg) {
        <div class="error">{{ errorMsg }}</div>
      } -->
    </div>
    }
</form>
}