<div class="flex items-end justify-center px-4 pt-4 pb-20 text-center sm:block sm:p-0">
    <div
        class="relative inline-block w-6xl px-10 pt-10 pb-10 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-xl shadow-xl rtl:text-right dark:bg-gray-900 sm:my-8 sm:align-middle border border-blue-900">
        <div class="flex flex-col justify-between">
            <div>
                <div class="flex items-center justify-center">
                    <h1 class="text-4xl font-medium text-gray-800 capitalize dark:text-white">
                        Servicios solicitados por el cliente
                    </h1>
                </div>
            </div>
        </div>


        @for (service of serviceParts; track $index) {
        <app-separator [message]="service.services.name"></app-separator>
        <div class="grid grid-cols-6 sm:grid-cols-8 md:grid-cols-5 gap-4 mt-5">
            
            @for (part of service.parts_used; track $index) {
            <div (click)="part.statePart !== 'CHANGE_URGENT' && openModalChangeInfo(part)"
                [class.cursor-not-allowed]="part.statePart === 'CHANGE_URGENT'"
                [class.opacity-50]="part.statePart === 'CHANGE_URGENT'"
                class="relative border-2 {{classPartsLabel[part.statePart].classBorder}} rounded-xl p-2 mt-4 cursor-pointer">

                <div
                    class="absolute -top-3 left-1/2 -translate-x-1/2 {{classPartsLabel[part.statePart].classMessage}} rounded font-semibold text-sm">
                    {{classPartsLabel[part.statePart].message}}
                </div>
                <div class="bg-white rounded-lg shadow-lg p-3 dark:bg-gray-800">
                    <h3 class="text-lg font-semibold text-blue-600 dark:text-blue-400">{{ part.part?.name }}</h3>
                    <p class="text-sm text-gray-500">Precio: {{ part.part?.price }}</p>

                </div>
            </div>
            }
            </div>
        }
        <div class="mt-7 sm:flex sm:items-center sm:justify-end ">
            <button (click)="onCancel()"
                class="w-full px-4 py-2 mt-2 text-lg font-medium tracking-wide text-gray-700 capitalize transition-colors duration-300 transform border border-gray-200 rounded-lg sm:mt-0 sm:w-auto sm:mx-2 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800 hover:bg-gray-100 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-40">
                Cancelar
            </button>
            <button (click)="endAppointment()"
                class="w-full px-4 py-2 mt-2 text-lg font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md sm:w-auto sm:mt-0 hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                Finalizar cita
            </button>

        </div>
    </div>
</div>