<p>invoice-modal works!</p>
<div>
    <div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true"></span>

        <div
            class="relative inline-block w-full max-w-2xl px-10 pt-10 pb-10 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl rtl:text-right dark:bg-gray-900 sm:my-8 sm:align-middle">
            <div class="flex flex-col h-full justify-between">
                <form [formGroup]="observationForm">
                    <div>
                    <div class="flex items-center justify-center">
                        <h1 class="text-2xl font-medium text-gray-800 dark:text-white">Observaciones de la Cita</h1>
                    </div>
                    <div class="flex items-center mt-4 justify-center">
                        <p class="mt-2 text-lg text-gray-500 dark:text-gray-400">A continuación indica los detalles y
                            observaciones del servicio realizado antes de finalizar la cita.</p>
                    </div>

                    <div class="mt-6">
                        <label for="observations" class="text-base text-gray-700 dark:text-gray-200">Detalles y
                            diagnóstico</label>
                        <textarea formControlName="observation" id="observations" rows="8"
                            placeholder="Ej: Se realizó el cambio de aceite y filtro. Se detectó desgaste en las pastillas de freno delanteras, se recomienda reemplazo en la próxima visita."
                            class="block w-full px-4 py-3 mt-2 text-gray-700 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"></textarea>
                    </div>
                </div>
                </form>

                <div class="mt-8 sm:flex sm:items-center sm:justify-end">
                    <div class="sm:flex sm:items-center ">
                        <button (click)="cancel()"
                            class="w-full px-4 py-2 mt-2 text-lg font-medium tracking-wide text-gray-700 capitalize transition-colors duration-300 transform border border-gray-200 rounded-lg sm:mt-0 sm:w-auto sm:mx-2 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800 hover:bg-gray-100 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-40">
                            Cancelar
                        </button>

                        <button (click)="confirm()"
                            class="w-full px-4 py-2 text-lg font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 hover:bg-blue-500 rounded-lg focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                            Finalizar cita
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>