<app-search-input (search)="onSearch($event)"></app-search-input>

<table class="w-full divide-y divide-gray-200 dark:divide-gray-700">
    <thead class="bg-gray-50 dark:bg-gray-800">
        <tr>
            @for (col of columns; track col.key) {
            <th class="px-4 py-3.5 text-sm font-normal text-left text-gray-500 dark:text-gray-400">
                {{ col.label }}
            </th>
            }
            <th class="px-4 py-3.5 text-sm font-normal text-left text-gray-500 dark:text-gray-400">Acciones</th>
        </tr>
    </thead>

    <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-900 dark:divide-gray-700">
        @for (row of dataTable | filter: searchTerm: searchableKeys; track row.id) {
        <tr>
            @for (col of columns; track col.key) {
            <td class="px-4 py-4 text-sm text-gray-700 dark:text-gray-300">{{ row[col.key] }}</td>
            }

            <td class="px-4 py-4 text-sm text-gray-700 dark:text-gray-300">
                <div
                    class="flex overflow-hidden w-fit bg-white border divide-x rounded-lg rtl:flex-row-reverse dark:bg-gray-900 dark:border-gray-700 dark:divide-gray-700">
                    <button (click)="onEdit(row)"
                        class="px-4 py-2 font-medium text-gray-600 transition-colors duration-200 sm:px-6 dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 sm:w-6 sm:h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.649-2.686a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0l1.986 1.987" />
                        </svg>
                    </button>

                    <button (click)="onDelete(row)"
                        class="px-4 py-2 font-medium text-gray-600 transition-colors duration-200 sm:px-6 dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 sm:w-6 sm:h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.166L15.418 3.315C15.011 2.85 14.484 2.5 13.914 2.5h-3.828c-.57 0-1.097.35-1.503.815L4.744 5.792m9.968-.166A2.25 2.25 0 0012 5.087V21h7.5A2.25 2.25 0 0021 18.75V7.5M4.5 7.5h15" />
                        </svg>
                    </button>

                    <button (click)="onOtherAcction(row)"
                        class="px-4 py-2 font-medium text-gray-600 transition-colors duration-200 sm:px-6 dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 sm:w-6 sm:h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

@if ((dataTable | filter: searchTerm: searchableKeys)?.length == 0) {
    <div class="p-6 text-center text-gray-500 dark:text-gray-400">
        No se encontraron resultados para la búsqueda "{{ searchTerm }}".
    </div>
}