<div class="flex flex-col min-h-screen bg-neutral-900">
    <header>
        <app-header></app-header>
    </header>
    <div class="mt-6 ">
        <h1 class="text-5xl text-gray-800 dark:text-white text-center">Pide tu cita ahora</h1>
        @if (nextSecction == 1) {
        <div>
            <app-car-select (userCarSelected)="getUserCarSelected($event)"></app-car-select>
        </div>
        }

        @if (nextSecction == 2) {
        <div>
            <app-select-service></app-select-service>
        </div>
        }

    </div>
</div>