<section style="max-width: 640px; padding: 32px 24px; margin: 0 auto; background-color: #111823; font-family: sans-serif;">
  <main style="margin-top: 32px;">
    <div style="margin-bottom: 16px;">
      <p style="font-size: 20px; color: #fff;">Restablecer contraseña</p>
    </div>
    <h3 style="color: #fff;">Hola, {{name}} </h3>

    <p style="margin-top: 8px; line-height: 1.6; color: #fff;">
      Parece que te has olvidado de la contraseña de tu cuenta. No te preocupes te ayudamos a recuperarla
    </p>

    <p style="margin-top: 8px; line-height: 1.6; color: #fff;">
      Pincha en el siguiente enlace para restabler tu contraseña
    </p>

  <a href="{{url}}">{{url}} </a>



    <p style="margin-top: 32px; color: #fff;">
      Gracias, <br>
      PerformAuto
    </p>
  </main>

  <footer style="margin-top: 32px;">
    <p style="color: #6B7280;">
      Este email ha sido enviado por
      <a href="#" style="color: #2563EB; text-decoration: underline;" target="_blank">contact@performAuto.com</a>.
    </p>

    <p style="margin-top: 12px; color: #6B7280;">© 2025 Meraki UI. All Rights Reserved.</p>
  </footer>
</section>
