<div class="m-5">
    <p class="text-1xl text-gray-500 dark:text-gray-400 text-center">
        Selecciona la fecha para llevar a cabo la cita
    </p>

    @if(dateAppointmentSelected){
    <div class="flex flex-col">
        <div class="flex justify-center items-center">
            <div class="relative w-full my-5 flex items-center justify-center">
                <div class="absolute inset-0 flex items-center">
                    <div class="w-full border-t dark:border-gray-600"></div>
                </div>
                <div class="relative px-6 bg-white dark:bg-gray-800">
                    <span class="text-2xl font-medium text-gray-500 dark:text-gray-400">
                        Fecha y hora seleccionda
                    </span>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <p class="text-3xl my-3 text-emerald-50"> {{formatDate(dateAppointmentSelected.date)}}
                {{dateAppointmentSelected.date | date:'shortTime'}} </p>
            <div>
                <button
                    class="middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    data-ripple-light="true">Pedir cita 
                </button>
            </div>
        </div>
    </div>
    }
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-5">
        @for (dates of availablesDates; track $index) {
        <div (click)="openModalSelectHour(dates.slot, formatDate(dates.day))"
            class="bg-white rounded-xl shadow-lg p-3 dark:bg-gray-800 cursor-pointer transition-all duration-300 transform hover:scale-[1.02] hover:shadow-2xl hover:border hover:border-blue-500 border border-blue-800">
            <p class="text-amber-50 p-4 text-xl font-bold"> {{formatDate(dates.day)}} </p>
        </div>
        }
    </div>
</div>